body {
    font-family: Arial, sans-serif;
    background: #70654b;
}

.page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
}

.top-section {
    flex: 7; /* 70% */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.subheading {
    color: #381ab0;
    font-size: 1.0rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* ========================= */
/* ===== TOP CAROUSEL ====== */
/* ========================= */

.artists-carousel {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto 15px;
}

.carousel-track {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.artist-tile {
    min-width: calc(100% / 3);
    padding: 15px;
    box-sizing: border-box;
}

.artist-tile img {
    width: 100%;
    height: 300px; /* reduced to fit screen */
    object-fit: cover;
    border-radius: 20px;
}

.tile-name {
    margin-top: -60px;
    background: #405af0;
    color: white;
    padding: 12px;
    width: 60%;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* ========================= */
/* ===== SERVICES (30%) ==== */
/* ========================= */

.services {
    flex: 4; /* 30% */
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(231, 233, 209);
    padding: 10px 40px;
}

.service-box {
    flex: 1;
    padding: 20px;
}

.service-box i {
    font-size: 40px;
    margin-bottom: 15px;
    color: #000;
}

.service-box h3 {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.service-box p {
    font-size: 0.85rem;
    line-height: 1.5;
    color: #333;
}

/* ========================= */
/* ===== RESPONSIVE ======== */
/* ========================= */

@media(max-width: 900px) {

    html, body {
        overflow: auto; /* allow scroll on small screens */
    }

    .page-container {
        height: auto;
    }

    .artist-tile {
        min-width: 100%;
    }

    .services {
        flex-direction: column;
    }
}
